In [1]:
# ================================================================
# RAW DATA EXPLORATION (Notebook-Friendly Runner)
# ================================================================
# This script:
#   - Automatically finds all raw datasets (PD + LGD)
#   - Runs RawDataInspector on each
#   - Prints concise summaries to console
#   - Keeps all reports in memory for later analysis
# ================================================================

# ---------------------------------------------------------------
# 1Ô∏è‚É£ Environment Setup ‚Äî fix imports
# ---------------------------------------------------------------
import sys
from pathlib import Path
import pandas as pd

# ---------------------------------------------------------------
# 1Ô∏è‚É£ Fix Python path (relative to notebooks/)
# ---------------------------------------------------------------
# Move one level up from /notebooks/ to repo root
repo_root = Path(__file__).resolve().parents[1] if "__file__" in globals() else Path.cwd().parents[0]

# Add the repo root to Python's module search path
if str(repo_root) not in sys.path:
    sys.path.insert(0, str(repo_root))
    print(f"‚úÖ Added repo root to sys.path: {repo_root}")
else:
    print(f"‚ÑπÔ∏è Repo root already in sys.path: {repo_root}")

# Now imports from 'src' will work
from src.data.raw_data_exploration import RawDataInspector

# ---------------------------------------------------------------
# 2Ô∏è‚É£ Setup
# ---------------------------------------------------------------
raw_root = repo_root / "data" / "raw"
print(f"üìÅ Using raw data root: {raw_root}")

# ---------------------------------------------------------------
# 3Ô∏è‚É£ Discover available datasets
# ---------------------------------------------------------------
datasets = {
    "pd": sorted([f.stem for f in (raw_root / "pd").glob("*.csv")]) if (raw_root / "pd").exists() else [],
    "lgd": sorted([f.stem for f in (raw_root / "lgd").glob("*.csv")]) if (raw_root / "lgd").exists() else [],
}

print("üì¶ Discovered datasets:")
for t, names in datasets.items():
    print(f"  {t.upper()}: {len(names)} datasets found ‚Üí {names}")

# ---------------------------------------------------------------
# 4Ô∏è‚É£ Run inspector on each dataset
# ---------------------------------------------------------------
reports = []

for task, dset_list in datasets.items():
    for dataset_name in dset_list:
        print("\n" + "="*70)
        print(f"üîç Inspecting {dataset_name} [{task.upper()}]")
        print("="*70)

        dataset_path = raw_root / task / f"{dataset_name}.csv"
        if not dataset_path.exists():
            print(f"‚ùå Expected file not found: {dataset_path}")
            continue

        try:
            # Pass task explicitly to avoid auto-inference issues
            inspector = RawDataInspector(dataset_name, task=task, raw_root=str(raw_root))
            report = inspector.summarize()
            inspector.pretty_print()
            reports.append(report)
        except FileNotFoundError as fnf:
            print(f"‚ùå FileNotFoundError: {fnf}")
        except pd.errors.EmptyDataError:
            print(f"‚ö†Ô∏è Warning: {dataset_name} appears to be empty or malformed.")
        except Exception as e:
            print(f"‚ùå Unexpected error while inspecting {dataset_name}: {type(e).__name__} ‚Üí {e}")

print("\n‚úÖ Exploration complete.")

# ---------------------------------------------------------------
# 5Ô∏è‚É£ (Optional) Convert to DataFrame for tabular viewing
# ---------------------------------------------------------------
if reports:
    summary_df = pd.DataFrame(reports)
    summary_df = summary_df[
        ["dataset", "task", "n_rows", "n_columns",
         "columns_with_missing", "rows_with_missing",
         "constant_columns", "memory_usage_MB"]
    ]
    print("\nüìä Summary table of all datasets:")
    display(summary_df)
else:
    print("\n‚ö†Ô∏è No successful inspections ‚Äî check dataset paths or encodings.")

‚úÖ Added repo root to sys.path: /Users/anderas/Documents/PhD/Projects/1. TabPFN/TabPFNCredit
üìÅ Using raw data root: /Users/anderas/Documents/PhD/Projects/1. TabPFN/TabPFNCredit/data/raw
üì¶ Discovered datasets:
  PD: 14 datasets found ‚Üí ['0001.gmsc', '0002.taiwan_creditcard', '0003.vehicle_loan', '0004.lendingclub', '0005.Case Study', '0006.myhom', '0007.hackerearth', '0008.cobranded', '0009.german', '0010.bank_status', '0011.thomas', '0012.loan_default', '0013.home_credit', '0014.hmeq']
  LGD: 5 datasets found ‚Üí ['0001.heloc', '0002.loss2', '0003.axa', '0004.base_model', '0005.base_modelisation']

======================================================================
üîç Inspecting 0001.gmsc [PD]
======================================================================
üîç Dataset: 0001.gmsc  |  Task: PD
üìä Shape: 150000 rows √ó 11 columns
üß© Dtypes: {dtype('int64'): 7, dtype('float64'): 4}
‚ùì Missing: 2 cols, 29731 rows
üíæ Memory: 12.59 MB
‚ö†Ô∏è Issues: 609 duplicate rows detected (first few indices: [1669, 7823, 7920, 8840, 10869, 14067, 14465, 14874, 15346, 15544]); 2 columns contain missing values: ['MonthlyIncome', 'NumberOfDependents'] | Example row indices with NaN: [6, 8, 16, 32, 41, 52, 58, 62, 71, 86]
------------------------------------------------------------

======================================================================
üîç Inspecting 0002.taiwan_creditcard [PD]
======================================================================
üîç Dataset: 0002.taiwan_creditcard  |  Task: PD
üìä Shape: 30000 rows √ó 25 columns
üß© Dtypes: {dtype('float64'): 13, dtype('int64'): 12}
‚ùì Missing: 0 cols, 0 rows
üíæ Memory: 5.72 MB
‚ö†Ô∏è Issues: 1 high-cardinality columns (>90% unique): ['ID']
------------------------------------------------------------

======================================================================
üîç Inspecting 0003.vehicle_loan [PD]
======================================================================
üîç Dataset: 0003.vehicle_loan  |  Task: PD
üìä Shape: 233154 rows √ó 41 columns
üß© Dtypes: {dtype('int64'): 34, dtype('O'): 6, dtype('float64'): 1}
‚ùì Missing: 1 cols, 7661 rows
üíæ Memory: 152.98 MB
‚ö†Ô∏è Issues: 1 constant columns: ['MobileNo_Avl_Flag']; 1 high-cardinality columns (>90% unique): ['UniqueID']; 1 columns contain missing values: ['Employment.Type'] | Example row indices with NaN: [87, 88, 91, 99, 125, 813, 850, 874, 1249, 1275]
------------------------------------------------------------

======================================================================
üîç Inspecting 0004.lendingclub [PD]
======================================================================
üîç Dataset: 0004.lendingclub  |  Task: PD
üìä Shape: 9578 rows √ó 14 columns
üß© Dtypes: {dtype('int64'): 7, dtype('float64'): 6, dtype('O'): 1}
‚ùì Missing: 0 cols, 0 rows
üíæ Memory: 1.6 MB
‚ö†Ô∏è Issues: No immediate structural issues detected.
------------------------------------------------------------

======================================================================
üîç Inspecting 0005.Case Study [PD]
======================================================================
üîç Dataset: 0005.Case Study  |  Task: PD
üìä Shape: 150000 rows √ó 12 columns
üß© Dtypes: {dtype('int64'): 7, dtype('float64'): 4, dtype('O'): 1}
‚ùì Missing: 3 cols, 29797 rows
üíæ Memory: 21.74 MB
‚ö†Ô∏è Issues: 143 duplicate rows detected (first few indices: [10869, 17265, 23604, 23697, 27892, 31109, 34609, 35743, 36186, 38062]); 3 columns contain missing values: ['MonthlyIncome ', 'NumberOfDependents', 'status'] | Example row indices with NaN: [5, 6, 8, 12, 16, 17, 22, 27, 31, 32]
------------------------------------------------------------

======================================================================
üîç Inspecting 0006.myhom [PD]
======================================================================
üîç Dataset: 0006.myhom  |  Task: PD
üìä Shape: 7000 rows √ó 10 columns
üß© Dtypes: {dtype('int64'): 8, dtype('float64'): 1, dtype('O'): 1}
‚ùì Missing: 1 cols, 245 rows
üíæ Memory: 0.9 MB
‚ö†Ô∏è Issues: 1 high-cardinality columns (>90% unique): ['loan_id']; 1 columns contain missing values: ['education'] | Example row indices with NaN: [91, 102, 161, 179, 228, 275, 314, 317, 369, 390]
------------------------------------------------------------

======================================================================
üîç Inspecting 0007.hackerearth [PD]
======================================================================
üîç Dataset: 0007.hackerearth  |  Task: PD
üìä Shape: 532428 rows √ó 45 columns
üß© Dtypes: {dtype('float64'): 23, dtype('O'): 18, dtype('int64'): 4}
‚ùì Missing: 21 cols, 532428 rows
üíæ Memory: 679.44 MB
‚ö†Ô∏è Issues: 1 high-cardinality columns (>90% unique): ['member_id']; 21 columns contain missing values: ['batch_enrolled', 'emp_title', 'emp_length', 'annual_inc', 'desc', 'title', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record']... | Example row indices with NaN: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
------------------------------------------------------------

======================================================================
üîç Inspecting 0008.cobranded [PD]
======================================================================

/Users/anderas/Documents/PhD/Projects/1. TabPFN/TabPFNCredit/src/data/raw_data_exploration.py:39: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  self.df = pd.read_csv(self.file_path)

üîç Dataset: 0008.cobranded  |  Task: PD
üìä Shape: 80000 rows √ó 49 columns
üß© Dtypes: {dtype('O'): 36, dtype('float64'): 10, dtype('int64'): 3}
‚ùì Missing: 10 cols, 46413 rows
üíæ Memory: 171.8 MB
‚ö†Ô∏è Issues: 1 high-cardinality columns (>90% unique): ['application_key']; 10 columns contain missing values: ['mvar2', 'mvar3', 'mvar4', 'mvar5', 'mvar21', 'mvar22', 'mvar23', 'mvar24', 'mvar33', 'mvar44'] | Example row indices with NaN: [0, 2, 3, 4, 5, 6, 7, 9, 10, 14]
------------------------------------------------------------

======================================================================
üîç Inspecting 0009.german [PD]
======================================================================
üîç Dataset: 0009.german  |  Task: PD
üìä Shape: 999 rows √ó 21 columns
üß© Dtypes: {dtype('O'): 13, dtype('int64'): 8}
‚ùì Missing: 0 cols, 0 rows
üíæ Memory: 0.81 MB
‚ö†Ô∏è Issues: 1 high-cardinality columns (>90% unique): ['1169']
------------------------------------------------------------

======================================================================
üîç Inspecting 0010.bank_status [PD]
======================================================================
üîç Dataset: 0010.bank_status  |  Task: PD
üìä Shape: 100514 rows √ó 19 columns
üß© Dtypes: {dtype('float64'): 12, dtype('O'): 7}
‚ùì Missing: 19 cols, 64091 rows
üíæ Memory: 59.12 MB
‚ö†Ô∏è Issues: 10728 duplicate rows detected (first few indices: [420, 1003, 1627, 1828, 2216, 2247, 2346, 2358, 2662, 2867]); 19 columns contain missing values: ['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term', 'Credit Score', 'Annual Income', 'Years in current job', 'Home Ownership', 'Purpose']... | Example row indices with NaN: [0, 1, 3, 4, 5, 7, 9, 11, 13, 15]
------------------------------------------------------------

======================================================================
üîç Inspecting 0011.thomas [PD]
======================================================================
üîç Dataset: 0011.thomas  |  Task: PD
üìä Shape: 1225 rows √ó 15 columns
üß© Dtypes: {dtype('float64'): 12, dtype('O'): 2, dtype('int64'): 1}
‚ùì Missing: 0 cols, 0 rows
üíæ Memory: 0.26 MB
‚ö†Ô∏è Issues: 23 duplicate rows detected (first few indices: [183, 356, 404, 446, 541, 585, 593, 775, 793, 795])
------------------------------------------------------------

======================================================================
üîç Inspecting 0012.loan_default [PD]
======================================================================

/Users/anderas/Documents/PhD/Projects/1. TabPFN/TabPFNCredit/src/data/raw_data_exploration.py:39: DtypeWarning: Columns (135,204,274,417) have mixed types. Specify dtype option on import or set low_memory=False.
  self.df = pd.read_csv(self.file_path)

üîç Dataset: 0012.loan_default  |  Task: PD
üìä Shape: 105471 rows √ó 771 columns
üß© Dtypes: {dtype('float64'): 653, dtype('int64'): 99, dtype('O'): 19}
‚ùì Missing: 525 cols, 53531 rows
üíæ Memory: 748.54 MB
‚ö†Ô∏è Issues: 11 constant columns: ['f33', 'f34', 'f35', 'f37', 'f38', 'f678', 'f700', 'f701', 'f702', 'f736']...; 73 high-cardinality columns (>90% unique): ['id', 'f3', 'f44', 'f54', 'f139', 'f216', 'f217', 'f278', 'f363', 'f364']...; 525 columns contain missing values: ['f7', 'f8', 'f14', 'f15', 'f17', 'f18', 'f19', 'f20', 'f21', 'f22']... | Example row indices with NaN: [0, 1, 3, 5, 12, 20, 22, 23, 24, 32]
------------------------------------------------------------

======================================================================
üîç Inspecting 0013.home_credit [PD]
======================================================================
üîç Dataset: 0013.home_credit  |  Task: PD
üìä Shape: 307511 rows √ó 122 columns
üß© Dtypes: {dtype('float64'): 65, dtype('int64'): 41, dtype('O'): 16}
‚ùì Missing: 67 cols, 298909 rows
üíæ Memory: 536.69 MB
‚ö†Ô∏è Issues: 1 high-cardinality columns (>90% unique): ['SK_ID_CURR']; 67 columns contain missing values: ['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'OWN_CAR_AGE', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG']... | Example row indices with NaN: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
------------------------------------------------------------

======================================================================
üîç Inspecting 0014.hmeq [PD]
======================================================================
üîç Dataset: 0014.hmeq  |  Task: PD
üìä Shape: 5960 rows √ó 13 columns
üß© Dtypes: {dtype('float64'): 9, dtype('int64'): 2, dtype('O'): 2}
‚ùì Missing: 11 cols, 2596 rows
üíæ Memory: 1.2 MB
‚ö†Ô∏è Issues: 1 high-cardinality columns (>90% unique): ['VALUE']; 11 columns contain missing values: ['MORTDUE', 'VALUE', 'REASON', 'JOB', 'YOJ', 'DEROG', 'DELINQ', 'CLAGE', 'NINQ', 'CLNO']... | Example row indices with NaN: [0, 1, 2, 3, 4, 6, 8, 9, 10, 11]
------------------------------------------------------------

======================================================================
üîç Inspecting 0001.heloc [LGD]
======================================================================
üîç Dataset: 0001.heloc  |  Task: LGD
üìä Shape: 67898 rows √ó 17 columns
üß© Dtypes: {dtype('float64'): 14, dtype('O'): 3}
‚ùì Missing: 2 cols, 21141 rows
üíæ Memory: 19.46 MB
‚ö†Ô∏è Issues: 2 columns contain missing values: ['LienPos', 'CurrEquifax'] | Example row indices with NaN: [0, 1, 2, 3, 4, 5, 19, 20, 53, 54]
------------------------------------------------------------

======================================================================
üîç Inspecting 0002.loss2 [LGD]
======================================================================

/Users/anderas/Documents/PhD/Projects/1. TabPFN/TabPFNCredit/src/data/raw_data_exploration.py:39: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  self.df = pd.read_csv(self.file_path)

üîç Dataset: 0002.loss2  |  Task: LGD
üìä Shape: 4802 rows √ó 72 columns
üß© Dtypes: {dtype('float64'): 43, dtype('O'): 25, dtype('int64'): 4}
‚ùì Missing: 34 cols, 4802 rows
üíæ Memory: 8.67 MB
‚ö†Ô∏è Issues: 18 high-cardinality columns (>90% unique): ['UPB_At_Resolution', 'Unpaid_Interest', 'Total_Debt', '_adv_interest1M', '_adv_interest', '_ELAO', '_Accrued_int', '_EAD', '_Net_sales_Proceeds', '_Miclaimbal']...; 34 columns contain missing values: ['State', 'UPB_At_Resolution', 'Servicing_Loss', 'REO_Sales_Price', 'Original_Appraised_Value', 'REO_Appraisal_Amount', 'REO_Appraisal_Date', 'Analysis_Age', 'Analyst', 'Recourse_Type']... | Example row indices with NaN: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
------------------------------------------------------------

======================================================================
üîç Inspecting 0003.axa [LGD]
======================================================================
üîç Dataset: 0003.axa  |  Task: LGD
üìä Shape: 2545 rows √ó 8 columns
üß© Dtypes: {dtype('float64'): 8}
‚ùì Missing: 0 cols, 0 rows
üíæ Memory: 0.16 MB
‚ö†Ô∏è Issues: 120 duplicate rows detected (first few indices: [16, 45, 46, 92, 117, 191, 215, 216, 239, 305])
------------------------------------------------------------

======================================================================
üîç Inspecting 0004.base_model [LGD]
======================================================================
üîç Dataset: 0004.base_model  |  Task: LGD
üìä Shape: 762 rows √ó 334 columns
üß© Dtypes: {dtype('O'): 181, dtype('float64'): 142, dtype('int64'): 11}
‚ùì Missing: 243 cols, 762 rows
üíæ Memory: 8.01 MB
‚ö†Ô∏è Issues: 28 constant columns: ['DEAL_CharterLeaseOfftake', 'DEAL_ContractualEnhancement', 'DEAL_MiningRisk', 'DEAL_SupplyRisk', 'DEAL_Leverage', 'DEAL_LegalRisk', 'DEAL_RefinancingRisk', 'DEAL_AssetQuality', 'DEAL_MarketConditions', 'DEAL_ParentCurrency']...; 2 high-cardinality columns (>90% unique): ['FCLT_Identifier', 'fclt_docunid']; 243 columns contain missing values: ['DEAL_GoverningLawRecovery', 'DEAL_FacilityIdentifier', 'DEAL_StarWebIdentifier', 'DEAL_ClientCurrency', 'DEAL_FacilityCommitment', 'DEAL_Syndication', 'DEAL_SGRoleSyndication', 'DEAL_DealType', 'DEAL_GroupModelRef', 'DEAL_GroupUnitsBL']... | Example row indices with NaN: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
------------------------------------------------------------

======================================================================
üîç Inspecting 0005.base_modelisation [LGD]
======================================================================
üîç Dataset: 0005.base_modelisation  |  Task: LGD
üìä Shape: 594 rows √ó 282 columns
üß© Dtypes: {dtype('float64'): 170, dtype('O'): 83, dtype('int64'): 29}
‚ùì Missing: 59 cols, 594 rows
üíæ Memory: 4.05 MB
‚ö†Ô∏è Issues: 6 constant columns: ['defaut_clos_4nonclos', 'PCRU', 'topbaloispur', 'SIGNE_SPREAD_E', 'MY1_SIGNE_SPREAD_E', 'PY1_SIGNE_SPREAD_E']; 76 high-cardinality columns (>90% unique): ['Ident_cliej_spm', 'ID_CONC_ORIGIN_CDL', 'EAD_TOTAL_EURO', 'id_crc', 'EAD_BALOISE_REELLE', 'numerateur', 'denominateur', 'id_unique', 'ead_tot', 'mont_crc_tot']...; 59 columns contain missing values: ['nb_suretes_eligibles', 'code_famille', 'SOUS_FAMILLE', 'libelle_produit', 'libelle_famille', 'libelle_sous_famille', 'PY1_TAUX_INVESTISSEMENT', 'PY1_PIB', 'PY1_EONIA', 'PY1_EURIBOR1A']... | Example row indices with NaN: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
------------------------------------------------------------

‚úÖ Exploration complete.

üìä Summary table of all datasets:

,dataset,task,n_rows,n_columns,columns_with_missing,rows_with_missing,constant_columns,memory_usage_MB
0,0001.gmsc,pd,150000,11,2,29731,0,12.59
1,0002.taiwan_creditcard,pd,30000,25,0,0,0,5.72
2,0003.vehicle_loan,pd,233154,41,1,7661,1,152.98
3,0004.lendingclub,pd,9578,14,0,0,0,1.60
4,0005.Case Study,pd,150000,12,3,29797,0,21.74
5,0006.myhom,pd,7000,10,1,245,0,0.90
6,0007.hackerearth,pd,532428,45,21,532428,0,679.44
7,0008.cobranded,pd,80000,49,10,46413,0,171.80
8,0009.german,pd,999,21,0,0,0,0.81
9,0010.bank_status,pd,100514,19,19,64091,0,59.12
10,0011.thomas,pd,1225,15,0,0,0,0.26
11,0012.loan_default,pd,105471,771,525,53531,11,748.54
12,0013.home_credit,pd,307511,122,67,298909,0,536.69
13,0014.hmeq,pd,5960,13,11,2596,0,1.20
14,0001.heloc,lgd,67898,17,2,21141,0,19.46
15,0002.loss2,lgd,4802,72,34,4802,0,8.67
16,0003.axa,lgd,2545,8,0,0,0,0.16
17,0004.base_model,lgd,762,334,243,762,28,8.01
18,0005.base_modelisation,lgd,594,282,59,594,6,4.05