In [56]:
import pandas as pd
from sas7bdat import SAS7BDAT
import os

In [57]:

def convert_sas_to_csv(sas_file_path, csv_file_path):
    # Read the .sas file
    with SAS7BDAT(sas_file_path) as file:
        df = file.to_data_frame()
    
    # Save to CSV
    df.to_csv(csv_file_path, index=False)

In [58]:
def eda(df):
#    print(df.head())
#    print(df.info())
#    print(df.describe())
#    print(df.columns)
    print(df.shape)
#    print(df.isnull().sum())
#    print(df.nunique())

In [59]:
DIR = r'C:\Users\u0148775\PycharmProjects\CreditScoring\data'

# LGD Data

## 01 heloc_lgd

In [60]:
convert_sas_to_csv(sas_file_path=os.path.join(DIR, 'lgd', '01 heloc_lgd', 'heloc_lgd.sas7bdat'),
                   csv_file_path=os.path.join(DIR, 'lgd', '01 heloc_lgd', 'heloc_lgd.csv'))

In [61]:
df_01 = pd.read_csv(os.path.join(DIR, 'lgd', '01 heloc_lgd', 'heloc_lgd.csv'))

C:\Users\u0148775\AppData\Local\Temp\ipykernel_28012\829123912.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_01 = pd.read_csv(os.path.join(DIR, 'lgd', '01 heloc_lgd', 'heloc_lgd.csv'))

In [43]:
eda(df_01)

(67898, 17)

## 02 LGD ctx

In [44]:
df_02 = pd.read_csv(r'C:\Users\u0148775\PycharmProjects\CreditScoring\data\lgd\02 LGD ctx\crdata.csv')

eda(df_02)

ParserError: Error tokenizing data. C error: Expected 4 fields in line 5, saw 5

## 03 loss2

In [0]:
convert_sas_to_csv(sas_file_path=os.path.join(DIR, 'lgd', '03 loss2', 'loss2.sas7bdat'),
                   csv_file_path=os.path.join(DIR, 'lgd', '03 loss2', 'loss2.csv'))

In [45]:
df_03 = pd.read_csv(os.path.join(DIR, 'lgd', '03 loss2', 'loss2.csv'))

eda(df_03)

(4802, 72)

In [62]:
df_03.head()

,Alltel_Client,Loan_Category,State,UPB_At_Resolution,Unpaid_Interest,Total_Debt,Servicing_Loss,REO_Sales_Price,Original_Appraised_Value,REO_Appraisal_Amount,...,_Proceeds,_ELGDnum1,_ELGDnum2,_ELGD,_Loss_Amount,lr1,lss_amt,lss_rt,MI_ind,id1
0,472,CONVENTI,IA,62866.07,0.00,4510.47,NaN,0.00,70000.0,NaN,...,20223.112591,71184.713433,50961.600842,0.791509,13423.732516,0.208491,13423.732516,0.208491,1.0,1.0
1,472,CONVENTIONAL CONFORMING,NH,166570.84,5895.63,188211.41,NaN,-197500.00,213000.0,220000.0,...,185327.130000,192793.081733,7465.951733,0.043799,162991.541200,0.956201,162991.541200,0.956201,1.0,2.0
2,472,CONVENTIONAL CONFORMING,CO,67452.44,3398.12,75606.50,NaN,-64000.00,69000.0,67000.0,...,58252.010000,78239.151067,19987.141067,0.289558,49039.189200,0.710442,49039.189200,0.710442,1.0,3.0
3,685,CONVENTIONAL CONFORMING,ID,131335.10,8283.33,145932.00,NaN,150000.00,165000.0,147000.0,...,138251.010000,158344.873667,20093.863667,0.149144,114634.059750,0.850856,114634.059750,0.850856,1.0,4.0
4,472,CONVENTI,MO,98359.30,2674.30,116840.29,NaN,-80602.85,NaN,NaN,...,71259.570000,127553.877709,56294.307709,0.558601,44482.991749,0.441399,44482.991749,0.441399,0.0,5.0

## 04 extract_bart_baesens_5

In [0]:
convert_sas_to_csv(sas_file_path=os.path.join(DIR, 'lgd', '04 extract_bart_baesens_5', 'extract_bart_baesens_5.sas7bdat'),
                   csv_file_path=os.path.join(DIR, 'lgd', '04 extract_bart_baesens_5', 'extract_bart_baesens_5.csv'))

In [63]:
df_04 = pd.read_csv(os.path.join(DIR, 'lgd', '04 extract_bart_baesens_5', 'extract_bart_baesens_5.csv'))

eda(df_04)

(3053, 179)

In [64]:
df_04.head()

,Account,Group,EXPOSURE_AT_DEFAULT_AMT,Rec_1,Rec_2,Rec_3,Rec_4,Rec_5,Rec_6,Rec_7,...,EE1_COST_AMT,EE1_INCOME_AMT,EE1_RATIO_COST_INCOME_CKP_PCT,EE1_RATIO_COST_INCOME_NO_CKP_PCT,purpose,purpose_bis,income,EFFECTIVE_FROM_DT,EFFECTIVE_TO_DT,complete_dt
0,1.0,1.0,13307.77,140.73,0.0,280.86,140.43,140.43,0.00,140.43,...,NaN,NaN,NaN,NaN,2.0,1.0,0.0,2005-03-19,9999-12-29,2016-01-01
1,2.0,1.0,6901.36,0.00,0.0,189.88,0.00,94.94,94.94,94.94,...,NaN,NaN,NaN,NaN,3.0,4.0,0.0,2005-03-18,9999-12-29,2016-01-01
2,3.0,1.0,2851.79,30.15,0.0,60.18,30.09,30.09,0.00,30.09,...,NaN,NaN,NaN,NaN,2.0,1.0,0.0,2005-03-19,9999-12-29,2016-01-01
3,4.0,1.0,14921.91,173.33,0.0,345.86,172.93,172.93,0.00,172.93,...,NaN,NaN,NaN,NaN,3.0,4.0,0.0,2005-03-18,9999-12-29,2016-01-01
4,5.0,1.0,22437.06,0.00,0.0,597.86,298.93,298.93,0.00,298.93,...,NaN,NaN,NaN,NaN,3.0,4.0,0.0,2005-03-18,9999-12-29,2016-01-01

## 05 lgd_axa

In [0]:
convert_sas_to_csv(sas_file_path=os.path.join(DIR, 'lgd', '05 lgd_axa', 'lgd_axa.sas7bdat'),
                   csv_file_path=os.path.join(DIR, 'lgd', '05 lgd_axa', 'lgd_axa.csv'))

In [50]:
df_05 = pd.read_csv(os.path.join(DIR, 'lgd', '05 lgd_axa', 'lgd_axa.csv'))

eda(df_05)

(2545, 8)

In [65]:
df_05.head()

,LTV,Recovery_rate,lgd_time,y_logistic,lnrr,Y_probit,purpose1,event
0,0.214078,0.698016,0.301984,-0.837866,-0.359514,-0.518701,0.0,1.0
1,0.214078,0.780084,0.219916,-1.266157,-0.248354,-0.772477,0.0,1.0
2,0.214078,0.702287,0.297713,-0.858212,-0.353413,-0.530989,0.0,1.0
3,0.214078,0.753989,0.246011,-1.120001,-0.282378,-0.687096,0.0,1.0
4,0.214078,0.802813,0.197187,-1.403967,-0.219634,-0.851711,0.0,1.0

## 06 base_model

In [51]:
df = convert_sas_to_csv(r'C:\Users\u0148775\PycharmProjects\CreditScoring\data\lgd\06 base_model\base_model.sas7bdat',
                        r'C:\Users\u0148775\PycharmProjects\CreditScoring\data\lgd\06 base_model\base_model.csv')

[base_model.sas7bdat] column count mismatch
[base_model.sas7bdat] column count mismatch
[base_model.sas7bdat] column count mismatch
[base_model.sas7bdat] column count mismatch

In [52]:
df_06 = pd.read_csv(os.path.join(DIR, 'lgd', '06 base_model', 'base_model.csv'))

eda(df_06)

(762, 334)

In [66]:
df_06.head()

,DEAL_DocUNID,DEAL_MainID,DEAL_GoverningLawRecovery,DEAL_FacilityIdentifier,DEAL_StarWebIdentifier,DEAL_ClientCurrency,DEAL_FacilityCommitment,DEAL_Syndication,DEAL_SGRoleSyndication,DEAL_DealType,...,classe_endet_actif_conso,classe_taux_avancement,classe_DFLT_duree,classe_FCLT_duree,classe_FCLT_duree_pre_DfLT,classe_DFLT_dicho_2A,cat_taux_IB,cat_prodI,cat_LEI,cat_PMI
0,942AE61CC98AA4AFC1256EB5005840A2,349EC405993DA541C1256EB500579174,India,lmp,NaN,INR,43.3,N,NaN,Plain Vanilla,...,[0.4;0.6[,[0.3;6[,[0;2[,[0;1.5[,[0;1[,0.0,4,1,3,1
1,03E71D964BE2F942C1256E69004F4ED4,DF6F3B5ABBBC6990C1256E54006D031E,United_Kingdom,D001,NaN,GBP,17.0,Y,Arranger,SL,...,[0.2;0.4[,[0.3;6[,[2;3.5[,[4;6.5[,[2;4[,1.0,4,4,3,1
2,03E71D964BE2F942C1256E69004F4ED4,DF6F3B5ABBBC6990C1256E54006D031E,United_Kingdom,D001,NaN,GBP,17.0,Y,Arranger,SL,...,[0.2;0.4[,[0;0.3[,[2;3.5[,[1.5;4[,[0;1[,1.0,4,4,3,1
3,03E71D964BE2F942C1256E69004F4ED4,DF6F3B5ABBBC6990C1256E54006D031E,United_Kingdom,D001,NaN,GBP,17.0,Y,Arranger,SL,...,[0.2;0.4[,[0.3;6[,[2;3.5[,[4;6.5[,[2;4[,1.0,4,4,3,1
4,03E71D964BE2F942C1256E69004F4ED4,DF6F3B5ABBBC6990C1256E54006D031E,United_Kingdom,D001,NaN,GBP,17.0,Y,Arranger,SL,...,[0.2;0.4[,[0.3;6[,[2;3.5[,[4;6.5[,[2;4[,1.0,4,4,3,1

## 07 base_modelisation

In [54]:
df_07 = pd.read_csv(os.path.join(DIR, 'lgd', '07 base_modelisation', 'base_modelisation.csv'))

eda(df_07)

(594, 282)