In [2]:
# Converting heloc_lgd.sas7bdat to heloc_lgd.csv:

from sas7bdat import SAS7BDAT
import pandas as pd

# Read the .sas file
with SAS7BDAT(r'C:\Users\u0148775\PycharmProjects\CreditScoring\data\01 heloc_lgd\heloc_lgd.sas7bdat') as file:
    df = file.to_data_frame()

# Save to CSV
df.to_csv(r'C:\Users\u0148775\PycharmProjects\CreditScoring\data/01 heloc_lgd/heloc_lgd.csv', index=False)

In [3]:
df

,REC,PortNum,ObsDT,DefDT,PrinBal,PayOff,AvailAmt,LTV,LienPos,Age,CurrEquifax,Utilization,DefPrinBal,DefPayOff,PD_Rnd,LGD_ACTG,DLGD_Econ
0,1.0,1.0,2003-01-31,2004-01-31,0.00,0.00,25000.00,0.000000,Second,9999.0,NaN,0.000000,0.00,30.00,0.0038,0.0,0.116
1,1.0,1.0,2003-02-28,2004-01-31,0.00,0.00,25000.00,0.000000,Second,9999.0,NaN,0.000000,0.00,30.00,0.0038,0.0,0.116
2,1.0,1.0,2003-03-31,2004-01-31,0.00,0.00,25000.00,0.000000,Second,9999.0,NaN,0.000000,0.00,30.00,0.0038,0.0,0.116
3,1.0,1.0,2003-04-30,2004-01-31,0.00,0.00,25000.00,0.000000,Second,9999.0,NaN,0.000000,0.00,30.00,0.0038,0.0,0.116
4,1.0,1.0,2003-05-31,2004-01-31,0.00,0.00,25000.00,0.000000,Second,9999.0,NaN,0.000000,0.00,30.00,0.0038,0.0,0.116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67893,8852.0,2.0,2003-05-31,2003-10-31,19860.06,20552.70,139.94,114.099976,,2.0,360.0,0.993237,19860.06,21097.51,0.8307,1.0,1.036
67894,8852.0,2.0,2003-06-30,2003-10-31,19860.06,20687.10,139.94,114.099976,,2.0,360.0,0.993281,19860.06,21097.51,0.8307,1.0,1.036
67895,8852.0,2.0,2003-07-31,2003-10-31,19860.06,20825.17,139.94,114.099976,,2.0,360.0,0.993325,19860.06,21097.51,0.8307,1.0,1.036
67896,8852.0,2.0,2003-08-31,2003-10-31,19860.06,20967.05,139.94,114.099976,,2.0,360.0,0.993370,19860.06,21097.51,0.8307,1.0,1.036
67897,8852.0,2.0,2003-09-30,2003-10-31,19860.06,21097.51,139.94,114.099976,,2.0,360.0,0.993411,19860.06,21097.51,0.8307,1.0,1.036